@font-face {
  font-family: "Permanent Marker";
  src: url(assets/PermanentMarker-Regular.ttf);
}
h1 {
  color: #4a97c4;
  font-family: "Permanent Marker";
  text-align: left;
  justify-content: center;
}
a {
  color: #4a97c4;
  font-family: "Permanent Marker";
}

.climb {
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4c6baf;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}/*# sourceMappingURL=style.css.map */